.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 25rem;
  margin: auto;
}

.header, .user-form {
  width: 100%;
}

.header {
  color: white;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  /* https://leaverou.github.io/css3patterns/#cicada-stripes */
  background-color: black;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
}

@media screen and (min-width: 40rem) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 90%;
    max-width: 50rem;
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .header {
    height: 100%;
  }
}

.header h1 {
  text-shadow: 2px 2px 5px rgba(255,255,255,.07);
}

.user-form {
  --field-height: 2rem;
  --field-width: calc(100% - 1.5rem);
  background-color: white;
  padding: 0.5rem;
  box-sizing: border-box;
}

.user-form > div {
  margin: 0.5em;
}

.user-form input {
  height: var(--field-height);
  line-height: var(--field-height);
  box-sizing: border-box;
}

.user-form label {
  display: block;
  font-weight: bold;
}

.user-form .field input {
  width: var(--field-width);
  border: none;
  border-bottom: 3px solid gray;
  background-color: #eee;
  box-sizing: border-box;
  padding: 0 0.25rem;
  margin: 0 0 2rem 0;
}

.user-form .required.field.invalid input {
  border-bottom-color: red;
}

.note .svg-inline--fa {
  width: 0.75rem;
  height: 0.75rem;
}

.field .svg-inline--fa {
  padding: 0 0.25rem;
}

.user-form input[type="submit"] {
  color: white;
  background-color: dodgerblue;
  width: 10em;
  border-style: none;
  border-radius: 3px;
  position: relative;
  margin-left: calc(var(--field-width) / 2);
  transform: translateX(-50%);
  transition: background-color 500ms;
}

.user-form input[type="submit"]:disabled {
  background-color: silver;
}

.user-form input[type="submit"]:active {
  top: 1px;
}