.month {
  height: 100%;
}

.month--daystrip, .month--days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.month--daystrip {
  height: 1em;
  text-align: center;
}

.month--days {
  height: calc(100% - 1rem);
}