.month--day {
  box-sizing: border-box;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: slateblue;

  &:nth-child(7n) {
    border-right-width: 1px;
  }

  &:nth-child(7n+1) {
    border-left-width: 0;
  }

  &:nth-child(n+29) {
    border-bottom-width: 1px;
  }
}